PROJECT_ROOT=/opt/zfs/project
LOCAL_BRONZE_ROOT=/opt/zfs/project/data/bronze
HDFS_BRONZE_ROOT=hdfs:///raw/ocean/bronze
HDFS_SILVER_ROOT=hdfs:///elt/ocean/silver
ICEBERG_WAREHOUSE=hdfs:///dataset/ocean/warehouse
ICEBERG_CATALOG=lake
ICEBERG_NAMESPACE=ocean
HIVE_METASTORE_URI=thrift://hive-metastore.dt.svc.cluster.local:9083
AOI_ID=taiwan
START_DATE=2024-12-01
END_DATE=2024-12-31
SPARK_HOME=/opt/zfs/sys/spark-3.5.8
HADOOP_HOME=/opt/zfs/sys/hadoop-3.5.0
JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64
TRINO_HOST=localhost
TRINO_PORT=8080
TRINO_CATALOG=iceberg
TRINO_SCHEMA=ocean
GOLD_MAP_TABLE=gold_map_metric
GOLD_SUMMARY_TABLE=gold_daily_metric_summary
SILVER_WRITE_SHARDS=32
MAX_RECORDS_PER_FILE=2000000
SPARK_EXECUTOR_INSTANCES=6
SPARK_EXECUTOR_CORES=2
SPARK_EXECUTOR_MEMORY=4g
SPARK_DRIVER_MEMORY=4g
SPARK_SHUFFLE_PARTITIONS=96
SPARK_ADVISORY_PARTITION_SIZE=134217728
